version: '3.8'
services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-password}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-vowdb}
      MYSQL_USER: ${MYSQL_USER:-vowuser}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-vowpass}
    ports:
      - '${MYSQL_PORT:-3307}:3306'
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
